.movietipdescription {
/*	color: Grey;*/
	font-size: 70%;
}

.movielist a {
	color: Grey;
}

.menu {
	border-top: 1px solid #BBB;
	background-color: white;
	color: #BBB;
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
}

.menuitem {
/*		border-top: 2px solid #BBB;*/
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
	
	text-decoration: none;
	color: #BBB;
	font-size: 150%;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

.menuitem:hover {
	color: black;
}

body {
       background:#FFFFFF url('/static/img/bar.png') repeat-x fixed center bottom;
}


#background_logo  {
       background:#000000 url('/static/img/logo.png') no-repeat;
       position: absolute;
       bottom: 0;
       right: 10px;
       width: 535px;
       height: 715px;
       z-index: 3;
}

#content {
       z-index: 4;
       position: relative;
}

.menu {
       position: relative;
       z-index: 4;
}
