{% extends "base.html" %}
	{% block page_title %}
    	Add a tip
	{% endblock %}
	
	{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ movietipform.as_table }}
        </table>
        <input type="submit" value="save tip">
    </form>
	<form action="/savewish/" method="post">
		<table>
			{{ moviewishform.as_table }}
		</table>
		<input type="submit" value="save wish">
	</form>
	{% endblock %}