<div class='movietip'>
	<span class='movietiptitle'>
		{{ movietip.movie.title }}
	</span>
	<span class='movietipdescription'>

		{{ movietip.description }}
	</span>
	<div class='movietiptags'>
		{% for tag in tiptags %}
			<a href='/tag/{{ tag.name }}'> {{ tag.name}} </a>
		{% endfor %}
	</div>
	<!-- movietip.user.username == username -->
	{% if wishform %}
	<div class='towish'>
		<form action="/converttowish/" method="post">
		<p><input id="id_movie" type="hidden" name="movie" value="{{ movietip.movie.title }}" size="64" /></p> 
	      <input type="submit" value="Add to my wishlist">
	  </form>	
	</div>	
	{% endif %}
</div>
		
